BOT_TOKEN=""
POSTGRES_PASSWORD="password"
DATABASE_URL="postgresql://postgres:password@localhost:5432/postgres"
REDIS_URL="redis://localhost:6379/0"
PROBLEM_SLUG="add-two-integers" # default 
PROBLEM_MINUTES="5" # default 
NODE_ENV="production" # default
