BOT_TOKEN=""
POSTGRES_PASSWORD="password"
DATABASE_URL="postgresql://postgres:password@localhost:5432/postgres"
REDIS_PASSWORD="secret"
REDIS_URL="redis://:secret@localhost:6379/0"
NODE_ENV="development" # "production"

